m-web/src/main/resources/card.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="card">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cardOwner" type="xs:string"/>
                <xs:element name="cardLimit" type="xs:int"/>
                <xs:element name="cardStatus" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>